.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
}
.left-bottom{
	height: 200px !important;
}
/* Position the "next button" to the right */
.next {
  right: 30px;
  border-radius: 3px 3px 3px 3px;
  //margin-right: 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Number text (1/3 etc) */


.search-button{
	height: 34px;
}
.fixed{
	position: sticky;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
.max-table-width{
	max-width: 400px;
}
p a:link {
  color: blue; 
  //background-color: transparent; 
  text-decoration: underline;
}

p a:visited {
  color: blue;
  
  text-decoration: underline;
}

p a:hover {
  color: red;
  //background-color: transparent;
  text-decoration: underline;
}

p a:active {
  color: red;
  //background-color: transparent;
  text-decoration: underline;
}

.screenshot{
	max-width: 300px;
	max-height: 500px;
	margin-bottom: 20px;
}
video{
	max-width: 300px;
	max-height: 500px;
	margin-bottom: 20px; 	
}
.content > .row{
	margin-left: 0px;
}
.content {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.slideshow-container{
	padding-left: 30px !important;
	padding-right: 30px !important;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
* {box-sizing: border-box}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 0}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 0}
}